# .NET Core
bin/
obj/
*.csproj.user
.vs/
*.pdb
*.exe
*.dll
*.suo
*.cache
*.log
*.bak
*.tmp
appsettings*.json  # Exclude sensitive config files
/Properties/launchSettings.json

# IDE
.vscode/
*.code-workspace

# Database
*.mdf
*.ldf

# macOS
.DS_Store
